<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siyuanren.education.user.dao.impl.UserInfoDAOImpl">
    <sql id="table"> userinfo </sql>

    <sql id="baseColumnList">
        u.id as id ,
        u.user_id as userId ,
        u.user_name as userName ,
        u.real_name as realName ,
        u.phone as phone ,
        u.email as email ,
        u.course_advisor as courseAdvisor
    </sql>


    <select id="getById" parameterType="int" resultType="UserInfo">
        select <include refid="baseColumnList"/>
        from
        <include refid="table"/>
        u
        where u.ID = #{id}
    </select>

</mapper>