<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!-- 异步通知 notify-->
    <!--<dubbo:reference interface="com.guwr.accumulate.facade.notify.facade.INotifyMessageFacade" id="notifyMessageFacade" check="false" />-->
    <!--<dubbo:reference interface="com.guwr.accumulate.facade.notify.facade.INotifyTransactionMessageFacade" id="notifyTransactionMessageFacade" check="false"/>-->
    <!-- 用户账户 -->
    <!--<dubbo:reference interface="com.guwr.accumulate.facade.account.facade.IAccountBalanceFacade" id="accountBalanceFacade" check="false" />-->
</beans>