<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
			</pattern>
		</layout>
	</appender>
	<!--&lt;!&ndash; logback为java中的包 &ndash;&gt;-->
	<logger name="com.eloancn" level="INFO">

	</logger>
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>